In [16]:
#Numpy
#задание 1
import numpy as np

a = np.array([
    [1, 6],
    [2, 8],
    [3, 11],
    [3, 10],
    [1, 7],
])

mean_a = np.mean(a, axis=0)
print(mean_a)

[2.  8.4]

In [17]:
#задание 2
a_centered = a - mean_a
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

In [18]:
#задание 3
a_centered_sp = np.dot(a_centered[0:5, 0], a_centered[0:5, 1])
a_centered_sp = a_centered_sp / (len(a_centered) - 1)
print(a_centered_sp)

2.0

In [19]:
#задание 4
res = np.cov(a.T)
print(res[0, 1])

2.0

In [20]:
#Pandas
#задание 1
import pandas as pd

authors = pd.DataFrame({'author_id': [1, 2, 3], 'author_name': ['Тургенев', 'Чехов', 'Островский']})
book = pd.DataFrame({'author_id': [1, 1, 1, 2, 2, 3, 3],
                     'book_title': ['Отцы и дети', 'Рудин',
                                    'Дворянское гнездо', 'Толстый и тонкий',
                                    'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                    'price': [450, 300, 350, 500, 450, 370, 290]})
print(authors)
print('-----------------------------------------')
print(book)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский
-----------------------------------------
   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [21]:
#задание 2
authors_price = pd.merge(authors, book, how='inner')
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [22]:
#задание 3
top5 = authors_price.sort_values(by=['price'], ascending=False)[:5]
print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [24]:
#задание 4
list_series = []
for author in authors_price['author_name'].unique():
    row = authors_price[authors_price['author_name'] == author]['price'].agg(['min', 'max', 'mean'])
    list_series.append([author, row[0], row[1], row[2]])

authors_stat = pd.DataFrame(list_series, columns = ['author_name', 'min_price', 'max_price', 'mean_price'])
print(authors_stat)

  author_name  min_price  max_price  mean_price
0    Тургенев      300.0      450.0  366.666667
1       Чехов      450.0      500.0  475.000000
2  Островский      290.0      370.0  330.000000

In [59]:
#задание 5
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
book_info = pd.pivot_table(authors_price, 
                           index=['author_name'],
                           columns=['cover'],
                           values=['price'],
                           fill_value=0,
                           aggfunc=np.sum
                           )
book_info

             price
cover       мягкая твердая
author_name
Островский     660       0
Тургенев       650     450
Чехов            0     950

In [67]:
book_info.to_pickle('book_info.pkl')

In [68]:
book_info2 = pd.read_pickle('book_info.pkl')

In [70]:
print(book_info)
print(book_info2)

             price
cover       мягкая твердая
author_name
Островский     660       0
Тургенев       650     450
Чехов            0     950
             price
cover       мягкая твердая
author_name
Островский     660       0
Тургенев       650     450
Чехов            0     950